# DEV Dockerfile!!!
version: "3.3"
services:
  app:
    build: .
    environment:
      - BOT_TOKEN
      - BOT_DB_HOST
      - BOT_DB_USER
      - BOT_DB_PASSWORD
    depends_on:
      - couchdb
    restart: always
  couchdb:
    image: couchdb:latest
    environment:
      - COUCHDB_USER
      - COUCHDB_PASSWORD
    restart: always
    ports:
      - "5984:5984"

